!
!
! Thanks to BassTester for that awesome Config!
! you can find it under: https://github.com/BassTester/dotfiles-arch/blob/master/.Xresources
!
! I stripped his config down to only contain the rofi settings
!
rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      argb:dc111111, argb:dc111111
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.separator-style:   dash
rofi.fullscreen:        true
rofi.padding:           130
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.fake-transparency: false
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             1366

! End of BassTester Config

URxvt.font: xft:monospace:size=10

URxvt*color0:              #101218
URxvt*color1:              #ee829f
URxvt*color2:              #a5ffe1
URxvt*color3:              #ffefcc
URxvt*color4:              #97bbf7
URxvt*color5:              #c0b7f9
URxvt*color6:              #97e0ff
URxvt*color7:              #d1d4e0
URxvt*color8:              #7780a1
URxvt*color9:              #ee829f
URxvt*color10:             #a5ffe1
URxvt*color11:             #ffefcc
URxvt*color12:             #97bbf7
URxvt*color13:             #c0b7f9
URxvt*color14:             #97e0ff
URxvt*color15:             #ffffff
URxvt*color16:             #f99170
URxvt*color17:             #fcc09e
URxvt*color18:             #1f222d
URxvt*color19:             #252936
URxvt*color20:             #C0C5CE
URxvt*color21:             #C9CCDB
URxvt*background:          #101218
URxvt*foreground:          #E6EFF7
URxvt*cursorColor:         #E6EFF7
URxvt*scrollBar:           False

URxvt.internalBorder:      0
URxvt.externalBorder:      0

